In [35]:
import pandas as pd
import numpy as np

In [36]:
# open adult.data
df = pd.read_csv('adult.data', header=None)

In [37]:
# save the dataframe as a csv file
df.to_csv('adult.csv', index=False)

In [49]:
# read the new csv file
df1 = pd.read_csv('adult.csv')
count = (df1.iloc[:, 13] == 40).sum()
print('The number of males in the dataset is: ', count)

# replace the first 583 rows in column 13 with FAAK
df1.iloc[:583, 13] = 'FAAK'

# replace FAAK in column 13 randomly each encounter with either South Africa or Mexico or United-States or Canada or England or Germany or Japan or China or India or Cuba or Iran or Philippines or Italy or Poland or Columbia or Cambodia or Thailand or Ecuador or Laos or Taiwan or Haiti or Portugal or Dominican-Republic or El-Salvador or France or Guatemala or Jamaica or Peru or Vietnam or Yugoslavia or Scotland or Hong or Ireland or Hungary or Greece or Trinadad&Tobago or Outlying-US(Guam-USVI-etc) or Honduras or Holand-Netherlands
df1.iloc[:583, 13] = np.random.choice(['South Africa', 'Mexico', 'United-States', 'Canada', 'England', 'Germany', 'Japan', 'China', 'India', 'Cuba', 'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'Jamaica', 'Peru', 'Vietnam', 'Yugoslavia', 'Scotland', 'Hong', 'Ireland', 'Hungary', 'Greece', 'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'Honduras', 'Holand-Netherlands'], size=(583,))
# print(df1.iloc[:583, 13])

# save the dataframe as a csv file
df1.to_csv('adult1.csv', index=False)

The number of males in the dataset is:  0

In [50]:
#show all of column 14
print(df1.iloc[:, 13])

# give me total number of rows
print(df1.shape[0])

0              Japan
1              Japan
2            Hungary
3           Thailand
4              Italy
            ...
32556     Yugoslavia
32557     Yugoslavia
32558     Yugoslavia
32559     Yugoslavia
32560     Yugoslavia
Name: 13, Length: 32561, dtype: object
32561

In [51]:
# save only the 14th column
df2 = df1.iloc[:, 13]


# save the second column as a csv file and skip the first row
df2.to_csv('adult2.csv', index=False, header=False)

In [52]:
# create a dataframe that contains unique values only from df2
df3 = pd.DataFrame(df2.unique())



# save the dataframe as a csv file
df3.to_csv('adult3.csv', index=False, header=False)

In [53]:
# create a dataframe that contains the number of times each unique value appears in df2
df4 = pd.DataFrame(df2.value_counts())

# save the dataframe as a csv file
df4.to_csv('adult4.csv', index=True, header=False)

In [88]:
# open adult.test
dff = pd.read_csv('adult.test', header=None)

In [90]:
# save the dataframe as a csv file
dff.to_csv('adulttest.csv', index=False)

# sort the dataframe by column 13
dff1 = dff.sort_values(by=13)

# save the dataframe as a csv file
dff1.to_csv('adulttest.csv', index=False)

In [92]:
# read the new csv file
dff1 = pd.read_csv('adulttest.csv')

# replace the first 274 rows in column 13 with FAAK
dff1.iloc[:274, 13] = 'FAAK'

# save the dataframe as a csv file
dff1.to_csv('adulttest.csv', index=False)


# replace FAAK in column 13 randomly each encounter with either South Africa or Mexico or United-States or Canada or England or Germany or Japan or China or India or Cuba or Iran or Philippines or Italy or Poland or Columbia or Cambodia or Thailand or Ecuador or Laos or Taiwan or Haiti or Portugal or Dominican-Republic or El-Salvador or France or Guatemala or Jamaica or Peru or Vietnam or Yugoslavia or Scotland or Hong or Ireland or Hungary or Greece or Trinadad&Tobago or Outlying-US(Guam-USVI-etc) or Honduras or Holand-Netherlands
dff1.iloc[:274, 13] = np.random.choice(['South Africa', 'Mexico', 'United-States', 'Canada', 'England', 'Germany', 'Japan', 'China', 'India', 'Cuba', 'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'Jamaica', 'Peru', 'Vietnam', 'Yugoslavia', 'Scotland', 'Hong', 'Ireland', 'Hungary', 'Greece', 'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'Honduras', 'Holand-Netherlands'], size=(274,))
print(dff1.iloc[:274, 13])

# # replace the first row in column 13 with LALA
# dff1.iloc[0, 13] = 'FAAK'

# save the dataframe as a csv file
dff1.to_csv('adulttest.csv', index=False)

# # save the dataframe as a csv file
# dff1.to_csv('aadult.csv', index=False)

0                         Germany
1                          Canada
2              Dominican-Republic
3                           Haiti
4              Dominican-Republic
                  ...
269    Outlying-US(Guam-USVI-etc)
270                  South Africa
271                          Hong
272                      Cambodia
273                     Guatemala
Name: 13, Length: 274, dtype: object

In [93]:
# show all of column 14
print(dff1.iloc[:, 13])

0                   Germany
1                    Canada
2        Dominican-Republic
3                     Haiti
4        Dominican-Republic
                ...
16276            Yugoslavia
16277            Yugoslavia
16278            Yugoslavia
16279            Yugoslavia
16280            Yugoslavia
Name: 13, Length: 16281, dtype: object

In [95]:
# save only the 14th column
dff2 = dff1.iloc[:, 13]

print(dff2)

0                   Germany
1                    Canada
2        Dominican-Republic
3                     Haiti
4        Dominican-Republic
                ...
16276            Yugoslavia
16277            Yugoslavia
16278            Yugoslavia
16279            Yugoslavia
16280            Yugoslavia
Name: 13, Length: 16281, dtype: object

In [96]:
# save the second column as a csv file and skip the first row
dff2.to_csv('adulttest2.csv', index=False, header=False)

In [97]:
# create a dataframe that contains unique values only from df2
dff3 = pd.DataFrame(dff2.unique())


# save the dataframe as a csv file
dff3.to_csv('adulttest3.csv', index=False, header=False)

In [98]:
# create a dataframe that contains the number of times each unique value appears in df2
dff4 = pd.DataFrame(dff2.value_counts())

# save the dataframe as a csv file
dff4.to_csv('adulttest4.csv', index=True, header=False)

In [99]:
# add df4 and dff4
df5 = df4 + dff4

# save the dataframe as a csv file
df5.to_csv('adult_client.csv', index=True, header=False)

In [25]:
# add df2 and dff2
df6 = df2.append(dff2)

# save the dataframe as a csv file
df6.to_csv('adult6.csv', index=False, header=False)

/var/folders/22/nrb4t9gx0n9bfqq_y59_73p80000gn/T/ipykernel_22403/3459541716.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df6 = df2.append(dff2)

In [24]:
# add df1 and dff1
df7 = df1.append(dff1)

# save the dataframe as a csv file
df7.to_csv('adult7.csv', index=False, header=False)

/var/folders/22/nrb4t9gx0n9bfqq_y59_73p80000gn/T/ipykernel_22403/1516842940.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df7 = df1.append(dff1)